.popup-img__close-button {
  position: relative;
  cursor: pointer;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: rgba(0,0,0, 0.9);
  border: none;
  right: -40px;
  top: -8px;
  margin-left: auto;
}

@media (max-width:886px) {
  .popup-img__close-button {
    background-image: url(../../../images/CloseIcon_20.svg);
    width: 20px;
    height: 20px;
    top: -16px;
    right: 0px;
  }
}