.popup__button {
  width: 358px;
  height: 50px;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 48px;
  margin-bottom: 37px;
}

@media (max-width:768px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}

.popup__button:disabled {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
  border: 1px solid #000000;
}