.popup__question-dell {
  display: flex;
  position: relative;
  flex-direction:column;
  align-items:center;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width:768px) {
  .popup__eddit-form {
    width: 282px;
  }
}