.profile-info__button-edit {
  cursor: pointer;
  background-image: url("../../../images/EditButton.svg");
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
}


@media (max-width: 768px) {
  .profile-info__button-edit {
    background-image: url("../../../images/EditButton_18.svg");
    width: 18px;
    height: 18px;
  }
}